<template>
  <div class="todoMain">
    <h2>My Todo List</h2>
    <p id="todoCount">Found 0 items</p>
  </div>
</template>

<script>

export default {
  data() {
    return {
    }
  },
  components: {
  },
  created: function() {
    console.log("Created todo page");
  },
  mounted: function() {
    this.$store.dispatch("todo/getTodoAction");
  },
  computed: {
    todoList: {
      get() {
        return this.$store.state.todo.todoList;
      }
    }
  }
}
</script>

<style>
.todoMain {
  padding:20px
}
</style>
